html,
body,
p {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #E7E7E7;
}

* {
    box-sizing: border-box;
    font-family: 'Nunito';
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.content {
    margin-left: 36px;
}

a {
    text-decoration: none;
}

.is-invalid {
    border-bottom: 1px solid #d9534f !important;
    border-top: 1px solid #d9534f !important;
    border-right: 1px solid #d9534f !important;
}

.is-invalid-icon {
    border-bottom: 1px solid #d9534f !important;
    border-top: 1px solid #d9534f !important;
    border-left: 1px solid #d9534f !important;
}

.invalid-feedback {
    font-size: 17px;
    color: #d9534f;
    margin-bottom: 4px;
    padding-left: 1px;
    height: 22px;
}

.invalid-margin {
    font-size: 17px;
    color: #d9534f;
    margin-bottom: 4px;
    padding-left: 20px
}

.main-title-page {
    font-size: 30px;
    margin: 32px 0px 32px 32px;
}
