/* COLORS */

:root {
    --light-grey: #F6F6F6;
    --medium-grey: #E7E7E7;
    --dark-grey: #A9A9A9;
    --light-blue: #96B9E1;
    --dark-blue: #151D3B;
    --emp-grey: #DDDDDD;
    --error: #FF6347;
    --success: #77DD77;
    --neutral: #AEC6CF;
    --yellow: #FCFC69;
}

/* DEFAULT */

html,
body,
p {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #E7E7E7;
}

* {
    box-sizing: border-box;
    font-family: 'Nunito';
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin-left: 36px;
}

button, a, input[type=submit], input[type=checkbox] {
    cursor: pointer
}

a {
    text-decoration: none;
}

.is-invalid {
    border-bottom: 1px solid var(--error) !important;
    border-top: 1px solid var(--error) !important;
    border-right: 1px solid var(--error) !important;
}

.is-invalid-icon {
    border-bottom: 1px solid var(--error) !important;
    border-top: 1px solid var(--error) !important;
    border-left: 1px solid var(--error) !important;
}

.invalid-feedback {
    font-size: 17px;
    color: var(--error);
    margin-bottom: 4px;
    padding-left: 1px;
    height: 22px;
}

.invalid-margin {
    font-size: 17px;
    color: var(--error);
    margin-bottom: 4px;
    padding-left: 20px
}

.main-title-page {
    font-size: 30px;
    margin: 32px 0px 32px 32px;
}