#customers {
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    padding: 8px;
    text-align: center;
    width: 200px;
    font-size: 18px
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--light-blue);
    font-weight: 100;
    text-align: center;
}

.first-title-table {
    border-top-left-radius: 10px;
}

.last-title-table {
    border-top-right-radius: 10px;
}

td > a:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    z-index: 0;
}

.table-input {
    width: 120px;
    border: 0;
    border-bottom: 1px solid var(--dark-blue);
    margin-left: 10px;
    padding-left: 10px;
    font-size: 15px;
}