body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-image: url('assets/loginIPE.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#island {
    width: 400px;
    margin: 40px;
    background-color: #F6F6F6;
    border-radius: 14px;
    flex-grow: 5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

aside {
    flex-grow: 16;
}

.login-title {
    font-size: 52px;
    margin: 68px 0px 56px 108px;
    letter-spacing: 2px;
}

.goto {
    color: #151D3B
}

.does-not-have-account-text, .remember-me {
    font-size: 18px;
    margin-top: 6px
}

.login-form {
    margin-left: 108px;
}

.password-input {
    margin: 16px 0px 4px 0px;
}

.writable-input {
    width: 388px;
    height: 58px;
    margin-bottom: 2px;
    padding: 18px;
    font-size: 18px;
    font-weight: 100;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 0;
    border-bottom: 1px solid #151D3B;
    border-top: 1px solid #151D3B;
    border-right: 1px solid #151D3B;
}

.btn {
    width: 164px;
    height: 54px;
    background-color: #7AD9F5;
    font-size: 22px;
    border-radius: 8px;
    border: 0;
    margin-top: 42px;
    cursor: pointer
}

.checkbox {
    width: 18px;
    height: 18px;
    background-color: #7AD9F5;
    font-size: 20px;
    border-radius: 4px;
    border: 0;
    margin: 8px 8px 0px 0px;
    accent-color: #151D3B;
}

.icon {
    width: 60px;
    height: 58px;
    background-color: #7AD9F5;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #151D3B;
    border-top: 1px solid #151D3B;
    border-left: 1px solid #151D3B;
}

.next {
    position: absolute;
    margin: 57px 0px 0px 122px;
}

.invalid-feedback {
    font-size: 17px;
    color: #d9534f;
    margin-bottom: 4px;
    padding-left: 1px
}

.is-invalid {
    border-bottom: 1px solid #d9534f !important;
    border-top: 1px solid #d9534f !important;
    border-right: 1px solid #d9534f !important;
}

.is-invalid-icon {
    border-bottom: 1px solid #d9534f !important;
    border-top: 1px solid #d9534f !important;
    border-left: 1px solid #d9534f !important;
}