h3 {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px 12px 12px 0px;
}

.title-screen {
    font-size: 28px;
    margin-left: 30px
}

.title-box,
.infos {
    margin-left: 16px;
}

.row-sided {
    flex-grow: 24;
}

section {
    background-color: #E7E7E7;
    flex-grow: 28;
}

.chart-test {
    width: 400px;
    height: 400px;
    margin: 30px 0px 0px 30px;
}

a {
    color: #151D3B
}

.item,
.cancel {
    font-size: 17px;
    margin-top: 6px
}

.btn-salvar {
    width: 186px;
    height: 52px;
    background-color: #7AD9F5;
    font-size: 20px;
    border-radius: 4px;
    border: 0;
    margin-top: 30px;
    cursor: pointer;
}

.btn-cancel {
    width: 156px;
    height: 52px;
    background-color: #E7E7E7;
    font-size: 20px;
    border-radius: 4px;
    border: 0;
    margin: 30px 0px 0px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dados-usuario-form {
    margin-left: 40px
}

.primary-info {
    width: 800px;
    height: 200px;
    background-color: #F6F6F6;
    border-radius: 10px;
    justify-content: center;
}

.secundary-info {
    width: 800px;
    height: 200px;
    background-color: #F6F6F6;
    border-radius: 10px;
    justify-content: center;
    margin-top: 30px
}

.label {
    margin-right: 10px;
}

.sec-input {
    width: 80px;
    border: 0;
    border-bottom: 1px solid #151D3B;
    margin-left: 10px;
    background-color: #F6F6F6;
    padding-left: 10px;
    font-size: 15px;
}

.sec-input:focus {
    outline-width: 0;
}
