h3 {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 0px 12px 12px 0px;
}

.title-box,
.infos {
    margin-left: 16px;
}

.row-sided {
    flex-grow: 24;
}

section {
    background-color: var(--medium-grey);
    flex-grow: 28;
}

a {
    color: #151D3B
}

.verde, .azul {
    display: flex;
}

.item,
.cancel {
    font-size: 17px;
    margin-top: 6px
}

.item-switch {
    font-size: 17px;
    margin-top: 16px
}

.btn-salvar {
    width: 186px;
    height: 52px;
    background-color: var(--light-blue);
    font-size: 20px;
    border-radius: 4px;
    border: 0;
    margin-top: 30px;
    cursor: pointer;
}

.btn-cancel {
    width: 156px;
    height: 52px;
    background-color: var(--medium-grey);
    font-size: 20px;
    border-radius: 4px;
    border: 0;
    margin: 30px 0px 0px 18px;
}

.dados-usuario-form {
    margin-left: 40px
}

.primary-info {
    width: 500px;
    height: 205px;
    background-color: var(--light-grey);
    border-radius: 10px;
    justify-content: center;
}

.secundary-info {
    width: 500px;
    height: 145px;
    background-color: var(--light-grey);
    border-radius: 10px;
    justify-content: center;
    margin-top: 40px
}

.energetic-info {
    width: 420px;
    height: 390px;
    background-color: var(--light-grey);
    border-radius: 10px;
    justify-content: center;
    margin: 0px 0px 0px 30px;
    padding: 24px 0px 0px 10px
}

.label {
    margin-right: 10px;
}

.sec-input {
    width: 80px;
    border: 0;
    border-bottom: 1px solid var(--dark-blue);
    margin-left: 10px;
    background-color: var(--light-grey);
    padding-left: 10px;
    font-size: 15px;
}

.sec-input:focus {
    outline-width: 0;
}

.warning-profile {
    margin: 8px 0px 0px 16px
}

.submit-form {
    margin-left: 40px
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 16px 0px 0px 20px;
}

.switch-gd {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    margin: 6px 0px 0px 20px;
}
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--light-blue);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--light-blue);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }