body {
    display: flex;
    flex-direction: row;
    background-image: url('../assets/background-amber.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#island {
    width: 740px;
    margin: 40px;
    border-radius: 14px;
    flex-grow: 6;
    background-color: #F6F6F6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.register-title {
    font-size: 52px;
    margin: 68px 0px 56px 108px;
    letter-spacing: 2px;
}

.register-form {
    margin-left: 108px;
}

aside {
    flex-grow: 17
}

.already-registered-text {
    font-size: 18px;
    margin-top: 6px
}

.register-input {
    height: 58px;
    width: 388px;
    margin-bottom: 2px;
    padding: 18px;
    font-size: 18px;
    font-weight: 100;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 0;
    border-bottom: 1px solid var(--dark-blue);
    border-top: 1px solid var(--dark-blue);
    border-right: 1px solid var(--dark-blue);
}


.sigla {
    width: 178px;
}

.login {
    width: 646px;
}

.senha {
    width: 283px;
}

.margin-top {
    margin-top: 16px
}

.btn {
    width: 164px;
    height: 54px;
    background-color: var(--light-blue);
    font-size: 22px;
    border-radius: 8px;
    border: 0;
    margin-top: 34px;
    cursor: pointer
}

.icon {
    width: 60px;
    height: 58px;
    background-color: var(--light-blue);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom: 1px solid var(--dark-blue);
    border-top: 1px solid var(--dark-blue);
    border-left: 1px solid var(--dark-blue);
}

.icon-sigla {
    margin-left: 20px
}

.goto {
    color: var(--dark-blue)
}
