.row-sided {
  flex-grow: 24;
}

section {
    background-color: var(--medium-grey);
    flex-grow: 28;
}

.title-profile {
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 0px;
    margin-bottom: 3px;
}

.energetic-profile {
    width: 1156px;
    height: 142px;
    margin: 18px 0px 10px 36px;
    background-color: var(--light-grey);
    padding: 16px;
    border-radius: 10px;
}

.primary-infos {
    margin-right: 30px;
    width: 340px;
}

.demandas {
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value-demanda {
    margin-top: 18px;
    font-size: 26px;
}

.chart-demanda {
    width: 572px;
    height: 190px;
    margin: 10px 0px 0px 36px;
}

.chart-consumo {
    width: 572px;
    height: 172px;
    margin: 0px 0px 0px 36px;
}

canvas {
    background-color: var(--light-grey);
    padding: 12px;
    border-radius: 10px;
}

.title-chart {
    font-size: 24px;
    margin: 0px 0px 4px 0px;
}

.demanda-infos {
    margin-top: 46px
}

.consumo-infos {
    margin-top: 36px
}

.yellow-warning-img {
    position: absolute;
    margin-left: 278px;
    margin-top: -12px
}

.percentual-info {
    font-weight: bold;
    font-size: 24px;
    margin-left: 80px
}