.row-sided {
  flex-grow: 24;
}

section {
    background-color: #E7E7E7;
    flex-grow: 28;
}

.chart-test {
    width: 520px;
    height: 400px;
    margin: 30px 0px 0px 36px;
}

.title-chart {
    font-size: 24px;
}
